@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(105, 105, 105);
  }
}

h1 {
  font-family: "Permanent Marker", Arial;
  color: rgba(0, 0, 0, 0.626);
  text-align: center;
}

body {
  font-family: "Permanent Marker", Arial;
  color: rgba(0, 0, 0, 0.626);
  background-color: rgb(173, 216, 230);
}

img {
  height: 400px;
  width: 300px;
  border-radius: 65px;
  display: block;
  margin: 0 auto;
  padding: 50px;
}

.banner {
  text-align: center;
}

.menu {
  display: inline-block;
  /* [Code below is from: moderncss.dev] */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.info {
  text-align: center;
}
